@page "/"
@namespace BlazorNetworkProblem.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorNetworkProblem</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <div id="components-reconnect-modal" class="my-reconnect-modal components-reconnect-hide">
        <div class="show">
            <p>
                遺失的連接。 用戶端正在嘗試重新連線
            </p>
            <img src="BusyIndicator.gif" />
        </div>
        <div class="failed">
            <p>
                重新連接失敗，可能是因為網路失敗。
            </p>
            <input type="button" class="btn btn-primary" value="重新嘗試連線" onclick="Reconnect()" />
        </div>
        <div class="refused">
            <p>
                已拒絕重新連接。
            </p>
        </div>
    </div>
    <style>
        .my-reconnect-modal > div {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1000;
            overflow: hidden;
            background-color: #fff;
            opacity: 0.8;
            text-align: center;
            font-weight: bold;
        }

        .components-reconnect-hide > div {
            display: none;
        }

        .components-reconnect-show > div {
            display: none;
        }

        .components-reconnect-show > .show {
            display: block;
        }

        .components-reconnect-failed > div {
            display: none;
        }

        .components-reconnect-failed > .failed {
            display: block;
        }

        .components-reconnect-refused > div {
            display: none;
        }

        .components-reconnect-refused > .refused {
            display: block;
        }
    </style>

    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>


    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <div id="components-reconnect-modal">
        <div class="components-reconnect-show">
            <p>
                This is the message when attempting to connect to server
            </p>
        </div>
        <div class="failed">
            <p>
                This is the custom message when failing
            </p>
        </div>
        <div class="refused">
            <p>
                This is the custom message when refused
            </p>
        </div>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script>
        function Reconnect() {
            window.Blazor.reconnect();
        }
    </script>
</body>
</html>
